- unless list.extracted.nil? && common.extracted.nil?
  %p
    <strong>Files extracted:</strong> #{list.extracted || common.extracted ? "yes" : "no"}
- unless list.elements.empty?
  %table.table.table-striped.table-hover.table-condensed.files-table
    %thead
      %tr
        %th Name
        %th.small Type
        - if common.has_metadata || list.has_metadata
          %th.medium Mode
          %th.medium User
          %th.medium Group
          %th.medium Size
          - if list.file_objects_exist
            %th.medium File Objects
          - else
            %th.medium Subdir.
            %th.medium Files in dir.
    %tbody
      - list.each do |file|
        %tr
          %td= file.name
          %td= file.type
          - if common.has_metadata || list.has_metadata
            %td= file.mode
            %td= file.user
            %td= file.group
            %td= number_to_human_size(file.size)
            - if list.file_objects_exist
              %td
                = file.file_objects
            - else
              %td
                = file.dirs
              %td
                = file.files
